.footer-container {
  background-color: #1a3b56;
  color: #fff;
  padding-top: 30px;
  display: flex;
  width: 100%;
  z-index: 0;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-divider1 {
  height: inherit;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 10px;
}

.footer-column-1 {
  flex: 1;
  flex-basis: 33.33%;
  margin-left: 70px;
  margin-right: 50px;
  font-size: 20px;
}

.footer-column-2 {
  flex: 2;
  flex-basis: 66.66%;
  margin-left: 70px;
  margin-right: 50px;
}

.footer-divider2 {
  width: inherit;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 10px;
}
/* Column 1 */
.footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}
.footer-address {
  margin-bottom: 10px;
}

.footer-menu {
  margin-bottom: 10px;
}

.footer-menu ul {
  background-color: #1a3b56 !important;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.footer-menu li {
  color: white !important;
  padding: 10px 15px;
  font-weight: 700 !important;
  cursor: pointer;
  line-height: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.footer-menu li:hover {
  background-color: #c1a559 !important;
  color: #1a3b56 !important;
}

/* Column 2 */

.footer-row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-follow-us-column {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
  margin-right: 20px;
}

.footer-follow-us-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-social-icons {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.footer-social-icons svg {
  margin-right: 10px;
}

.footer-map-column {
  flex: 1;
}

.footer-map-column iframe {
  width: 100%;
  height: 200px;
}
