.header-container {
  background-color: #1a3b56 !important;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 1;
}

.header-logo {
  max-width: 200px;
  cursor: pointer;
}

.header-menu {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header-menu ul {
  background-color: #1a3b56 !important;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.header-menu li {
  color: rgba(227, 227, 227, 0.65) !important;
  padding: 20px 15px 0px;
  cursor: pointer;
  line-height: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.header-menu li .ant-menu-submenu-title {
  color: rgba(227, 227, 227, 0.65) !important;
}

.header-menu li:hover {
  background-color: #c1a559 !important;
  color: #1a3b56 !important;
}
